.App {
  display: flex;
  min-height: 100vh;
 flex-flow: column;
  header {
    height: 40vh;
    background: linear-gradient(180deg, rgba(0, 10, 24, 0.74) 99.99%, rgba(255, 255, 255, 0) 100%), url(technology-785742_1920.jpg);
 }

 main {
   flex-grow: 1;
 }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button, input {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}